<head>
  <title>{% if page.title %}{{ page.title | escape }} – {% endif %}{{ site.title[page.lang] | escape }} – {{ site.description[page.lang] | escape }}</title>

  {% include meta.html %}

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="stylesheet" type="text/css" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}{% for post in posts %}
  <link rel="alternate" hreflang="{{ post.lang }}" href="{{ post.url }}" />{% endfor %}
  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}{% for page in pages %}
  <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />{% endfor %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title[page.lang] }}" href="{{ site.feed[page.lang] | prepend: site.baseurl | prepend: site.url }}" />
</head>
